<!-- <div class="try">
</div> -->


<!-- /TRYING -->
<!-- <div class="bg" data-zero="background" data-fivehundred="background-position:50%">
</div>
-->



<div class="jumbotron">
  <div class="blurb">
    <div class="row">
      <div class="col-md-5">
        <div class="container">
          <div class="row">
          <br>
<hr>
            <h2>wine</h2>
            

            <div class="row">
              <div class="col-md-12">
                <p>
                  Giowine represents a varied portfolio of nationally renowned quality Italian wines from all over the country. Each region of Italy embodies a unique character due to the diverse micro climates, the particularly adapted grape varieties, and the traditional regional styles of wine-making. You can learn more by exploring our map and clicking on the icons.  Brand information comes straight from the producer, for a closer look we invite you to check out their websites!
                </p>
              </div>
            </div>
            <br>
            <div id="the_wines" class="row font">
              <div class="col-md-5">
                <p class="bold hvr-underline-from-center" data-name="planeta" >Planeta</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="batasiolo" >Batasiolo</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="mazzei" >Mazzei</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="lazzaroni" >Lazzaroni</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="riunite" >Riunite</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="fantinel" >Fantinel</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="vesevo" >Vesevo</p>
              </div>
              <div class="col-md-7">
                <p class="bold hvr-underline-from-center" data-name="maschio" >Maschio</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="masi" >Masi</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="farnese" >Farnese</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="cecchi" >Cecchi</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="casanova" >Casanova di Neri</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="casale" >Casale del Giglio</p>
                <br>
                <p class="bold hvr-underline-from-center" data-name="roncaia" >La Roncaia</p>
              </div>
            </div><!--/endrow-->


          </div>

          <br>
          <div class="row">
          <br>
          <hr>
            <h2>food</h2>
            
            <p>We represent a small but rich collection of food products and non-alcoholic beverages including Italy's number one sparkling water, choice artisinal pasta of top international chefs, olive oil cultivated on the Sicilian seaside, and the original amaretti cookies since XXXX. Buon appetito!</p>
            <br>
            <div id="the_foods" class="row font">
              <p class="hvr-underline-from-center" data-name="amaretti" >Amaretti del Chiostro</p>
              <br>
              <p class="hvr-underline-from-center" data-name="olio" >Planeta Olive Oil</p>
              <br>
              <p class="hvr-underline-from-center" data-name="rustichella" >Rustichella Pasta Artigianale</p>
             <br>
              <p class="hvr-underline-from-center" data-name="ferrarelle" >Ferrarelle Mineral Water</p>
            </div><!--/endrow-->

          </div>


        </div>
      </div>
    

<%= stylesheet_link_tag '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.css',
'leaflet.awesome-markers',
'bootstrap-modal-carousel',
'winefrance',
media: 'all' %>
<%= javascript_include_tag  '//cdn.jsdelivr.net/leaflet/0.7.3/leaflet.js',
'leaflet.awesome-markers',
'underscore-min',
'bootstrap-modal-carousel',
'winefrance',
media: 'all' %>
