hr {
  border-color: lightgray;
  padding-bottom: -10px;

}

p {
text-align: left;
}

img.featured {
  width: 40%

}

footer p {
  text-align: center !important;
}


.carousel-control,
.carousel-control.right,
.carousel-control.left {
  background: none;
  width: 10%;
}

// .nav-tabs li a {
//   color: red;

// }

// li .active {
//   color: green;
// }

// .nav-tabs li.active a {
//   olor: green;
// }


// .nav-tabs li.active > a {
//    background-color: black;
// }

// .nav-tabs li > a:hover {

//    color: blue;
// }
